<!-- AM Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div><a href="/" target="_blank" class="positronx highlight">Forecast</a></div>
  <span class="nav-tool-items">

    <a mat-button routerLink="/admin" routerLinkActive="active" class ="highlight" *ngIf="(isLoggedIn$ | async) && userRole === 'ADMIN' as isLoggedIn">Admin</a>
    <a mat-button routerLink="/forecast" routerLinkActive="active" class ="highlight" *ngIf="isLoggedIn$ | async as isLoggedIn">Forecast</a>
    <span>{{ userDisplayName}}</span>
    <a mat-button mat-raised-button routerLink="/logout" class ="nohighlight" routerLinkActive="active" (click)="onLogout()" *ngIf="isLoggedIn$ | async as isLoggedIn else loggedOut">Logout</a>
    <ng-template #loggedOut>
            <a mat-button routerLink="/signin" class ="highlight" routerLinkActive="active">Log in</a>
            <a mat-button mat-raised-button routerLink="/signup" class ="nohighlight" routerLinkActive="active">Sign up</a>    
    </ng-template>
  </span>
</mat-toolbar>