#login-fab{
    border-radius: 50%;
    height: 56px;
    margin: auto;
    min-width: 56px;
    width: 56px;
    overflow: hidden;
    background: rgba(158,158,158,.2);
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
    position: absolute;
    top: -30px;
    text-align: center;
    left: 0;
    right: 0;
    background-color: rgba(151, 223, 188, 0.68)!important;
}
.material-icons{ margin: 10px;}
.adminpage .container{margin: 9% 0% -12% 0%;}

.box{
    max-width: 430px;
}