<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Sign In</mat-card-title>
    </mat-card-header>

    <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <!-- <input matInput placeholder="Email"> -->
          <input matInput placeholder="Email" type="text" name="email" #email="ngModel" [(ngModel)]="model.email"
              [pattern]="emailRegex" required [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">
            <mat-error *ngIf="signInForm.submitted && email.errors?.pattern">Invalid email address.</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="password" name="password" #password="ngModel" [(ngModel)]="model.password"
              placeholder="Password" required minlength="4"
              [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
            <mat-error *ngIf="signInForm.submitted && password.errors?.minlength">Minimum 4 characters.</mat-error>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" type="submit">Sign in</button>
    </form>
  </mat-card>

</div>