<div style="margin-top:80px" fxLayout="row" fxLayoutAlign="center start">
        
    <mat-card class="searchbox">
            <div id="search-fab" class="mdl-color--accent mdl-color-text--white">
                    <i class="material-icons">search</i>
                </div>
            <div class="text-center font-weight-bold" style="font-size:30px;">
                    Sales Forecast (ARIMA)
            </div>
        <form [formGroup]="searchForm" class="text-center">
            <mat-card-content>
                <mat-grid-list cols="2" rowHeight="77">
                    <mat-grid-tile colspan="2">
                        <mat-form-field class="example-full-width">
                            <mat-label>Choose a Channel...</mat-label>
                            <select name="channel" id="channel" class="form-control" matNativeControl
                                formControlName="channel" required>
                                <option *ngFor="let channel of channels" [value]="channel.channelId">
                                    {{channel.channelName}}
                                </option>
                            </select>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field>
                            <input name="histstdate" id="histstdate" class="form-control" matInput
                                [matDatepicker]="picker1" formControlName="histstdate"
                                placeholder="Choose a History Start date">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field class="example-full-width">
                            <mat-label>Number of Weeks...</mat-label>
                            <select name="histweek" id="histweek" class="form-control" formControlName="histweek"
                                matNativeControl required>
                                <option *ngFor="let week of weeks" [value]="week.key">
                                    {{ week.value }}
                                </option>
                            </select>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field>
                            <input name="forecastdate" id="forecastdate" class="form-control" matInput
                                [matDatepicker]="picker2" formControlName="forecastdate"
                                placeholder="Choose a Forecast Start date">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field class="example-full-width">
                            <mat-label>Number of Weeks...</mat-label>
                            <select name="forecastweek" id="forecastweek" class="form-control"
                                formControlName="forecastweek" matNativeControl required>
                                <option *ngFor="let week of weeks" [value]="week.key">
                                    {{ week.value }}
                                </option>
                            </select>
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
            <div align="center">
                <button (click)="searchTrend()" mat-stroked-button style="width: 150px;" color="accent"
                    class="btn-block" type="submit" [disabled]="searchForm.invalid">Search</button>
            </div>
        </form>
    </mat-card>
</div>

<app-result [displayResult]="showResult"></app-result>