<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center start">
  <mat-card class="dashboardbox">
    <mat-card-header>
      <mat-card-title>Your Dashboard</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-lg-10 offset-1 col-md-12">
          <div class="jumbotron card card-image"
            style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);padding-top: 10px;padding-bottom: 50px;">
            <div class="text-white text-center">
              <div>
                <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Find all functions relevent to your
                    Business
                    here</strong></h2>
                <hr>
                <p class="mx-5 mb-5">Navigate to the appropriate function you want to use
                </p>
                <hr>
                Get Started NOW!!
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </mat-card-content>
  </mat-card>
</div>