<!-- Start your project here-->
<div style="height: 100vh">
  <div class="row pt-xl-5 pl-xl-4">
    <div class="col-lg-10 offset-1 col-md-12">
  <div class="jumbotron card card-image"
    style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);padding-top: 10px;padding-bottom: 50px;">
    <div class="text-white text-center">
      <div>
        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Retail Forecasting Application</strong></h2>
        <p class="mx-5 mb-5">TCS Hackathon Group3 Team
        </p>
        <a class="btn btn-outline-white btn-md"><i class="fas fa-clone left"></i> Get Started NOW!! </a>
      </div>
    </div>
  </div>
  </div>
  <div class="col-lg-1"></div>
</div>
</div>
<!-- /Start your project here-->
